.page-container{
    width:100%;
    padding:10px;
    background-color: #f2f2f2;
    height: 100vh;
}
.dash-square{
    height: 300px;
}
.flex{
    display: flex;
}
.card-container{
    margin:10px;
}
.width-100{
    width:100%;
}
.subtitle{
     font-size:20px;
     color:#cc0000;
}