.page-container{
    width:100%;
    background-color: #f2f2f2;
    height: 100vh;
    padding:10px;
}
.dash-square{
    height: 300px;
}
.flex{
    display: flex;
}
.card-container{
    margin:10px;
}
.width-100{
    width:100%;
}
.subtitle{
     font-size:20px;
     color:#cc0000;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.nav-link{
    font-size: 14px;
    padding:15px;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.links-container{
    display: flex;
}
