.login-container{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-wrapper{
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: center;
}


.subtitle{
    font-size:20px;
    color:#cc0000;
}